pnpm-lock.yaml
.github/
patches/

node_modules/
**/node_modules
packages/**/node_modules/
packages/**/dist/

packages/viewer/index.html
packages/viewer/public/icon.svg
packages/viewer/src/assets/svg/swiss-flag.svg
