{
  "printWidth": 100,
  "singleQuote": true,
  "semi": false,
  "trailingComma": "es5",
  "tabWidth": 4,
  "jsxSingleQuote": false,
  "plugins": ["prettier-plugin-jsdoc"],
  "overrides": [{
    "files": "*.md",
    "options": {
      "tabWidth": 2
    }
  }]
}
