@import './geoadmin-theme';
@import './media-query.mixin';

// this import needs to happen only once, otherwise bootstrap is import/added
// to the output CSS as many time as this file is imported
@import 'bootstrap/scss/bootstrap';
@import '@fontsource/noto-sans';
// font-weight: light
@import '@fontsource/noto-sans/300.css';
// font-weight: bold
@import '@fontsource/noto-sans/700.css';
// font-weight: bolder ==> <strong> tags
@import '@fontsource/noto-sans/900.css';

body {
  // disabling double tap = zoom the UI on iOS
  touch-action: manipulation;
  // preventing a long press to select the entire window/app, and all element of the UI in the process
  @extend %no-ios-long-press-select;
}

input,
p,
li {
  // whitelisting inputs, so that they may be selected by iOS (otherwise, link copy is a bit weird without
  // having selected the text first)
  @extend %clear-no-ios-long-press;
}

// Add #cesium here to give this selector more specificity. Otherwise, the
// cesium style will override the font as soon as the map is switched to 3d
#main-component,
#cesium {
  font-family: $noto-sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $coal;
}

#main-component .view {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

:focus {
  outline-style: none;
  .outlines & {
    outline-offset: 0;
    outline: $focus-outline;
  }
}

.cursor-grab {
  cursor: grab;
}
.cursor-grabbing {
  cursor: grabbing;
}
.cursor-pointer {
  cursor: pointer;
}

@media print {
  /* stylelint-disable-next-line selector-id-pattern */
  #__vue-devtools-container__,
  .no-print {
    display: none;
  }
}

// TODO remove this when TW is available
.whitespace-nowrap {
  white-space: nowrap;
}
