@import '@swissgeo/theme/scss/geoadmin-theme';

%menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

%menu-item {
    &:not(.drag-in-progress):hover,
    &[draggable='true'] {
        background-color: $list-item-hover-bg-color !important;
    }
}

%menu-title {
    display: flex;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
    height: 2.5rem;

    .compact & {
        height: 2.2rem;
    }

    & > button {
        padding-left: 6px;
        padding-right: 6px;
    }
}

%menu-name {
    flex-grow: 1;
    text-align: left;
}

.menu-list {
    @extend %menu-list;
}

.menu-item {
    @extend %menu-item;
}

.menu-title {
    @extend %menu-title;
}

.menu-name {
    @extend %menu-name;
}
