.topics-sprite {
  margin-left: auto;
  margin-right: auto;
  width: 110px;
  height: 60px;
  background: url(../../assets/topics.png);
  cursor: pointer;
}
.topics-sprite-blw {
  background-position: 0 0;
}
.topics-sprite-kgs {
  background-position: 0 -60px;
}
.topics-sprite-sachplan {
  background-position: 0 -120px;
}
.topics-sprite-vu {
  background-position: 0 -180px;
}
.topics-sprite-ech {
  background-position: 0 -240px;
}
.topics-sprite-schneesport {
  background-position: 0 -300px;
}
.topics-sprite-emapis {
  background-position: 0 -360px;
}
.topics-sprite-notruf {
  background-position: 0 -420px;
}

.topics-sprite-are {
  background-position: -110px 0;
}
.topics-sprite-funksender {
  background-position: -110px -60px;
}
.topics-sprite-geol {
  background-position: -110px -120px;
}
.topics-sprite-aviation {
  background-position: -110px -180px;
}
.topics-sprite-verteidigung {
  background-position: -110px -240px;
}
.topics-sprite-energie {
  background-position: -110px -300px;
}
.topics-sprite-geodesy {
  background-position: -110px -360px;
}
.topics-sprite-schule {
  background-position: -110px -420px;
}

.topics-sprite-bafu {
  background-position: -220px 0;
}
.topics-sprite-nga {
  background-position: -220px -60px;
}
.topics-sprite-luftbilder {
  background-position: -220px -120px;
}
.topics-sprite-gewiss {
  background-position: -220px -180px;
}
.topics-sprite-dev {
  background-position: -220px -240px;
}
.topics-sprite-cadastre {
  background-position: -220px -300px;
}
.topics-sprite-meteoschweiz {
  background-position: -220px -360px;
}

.topics-sprite-swisstopo {
  background-position: -330px 0;
}
.topics-sprite-ivs {
  background-position: -330px -60px;
}
.topics-sprite-wildruhezonen {
  background-position: -330px -120px;
}
.topics-sprite-inspire {
  background-position: -330px -180px;
}
.topics-sprite-geothermie {
  background-position: -330px -240px;
}
.topics-sprite-astra {
  background-position: -330px -300px;
}
.topics-sprite-bfs {
  background-position: -330px -360px;
}
