@import '@/scss/webmapviewer-bootstrap-theme';

.toolbox-button {
    border: none;
    padding: 0;
    display: block;
    height: $map-button-diameter;
    width: $map-button-diameter;
    border-radius: $map-button-diameter * 0.5;
    overflow: hidden;
    cursor: pointer;
    background-color: $map-button-border-color;
    text-align: center;
    font-size: 0; // Needed to fully center the icon
    margin-bottom: 0.25rem;
    &:hover {
        background-color: $map-button-hover-border-color;
        border-color: $map-button-hover-border-color;
    }
    &-icon {
        height: $map-button-diameter - 5px;
    }
    &-inner-circle,
    .svg-inline--fa {
        height: $map-button-inner-icon-diameter;
        color: $white;
    }
    &.active {
        background-color: $primary;
        border-color: $primary;
        .toolbox-button-inner-circle {
            fill: $primary;
        }
    }
    &.disabled {
        background-color: $light-grey;
        border: $light-grey;
        cursor: not-allowed;
    }
}

.toolbox-button-label {
    font-size: smaller;
    text-align: center;
}
