@import 'src/scss/webmapviewer-bootstrap-theme';

// this import needs to happen only once, otherwise bootstrap is import/added
// to the output CSS as many time as this file is imported
@import 'node_modules/bootstrap/scss/bootstrap';
// tippy-theme needs to be imported once and for the whole app in order to work
// properly therefore it is imported here in the un-scoped app styling.
@import 'src/scss/tippy-theme';

body {
    // preventing a long press to select the entire window/app, and all element of the UI in the process
    @extend .no-ios-long-press-select;
    // disabling double tap = zoom the UI on iOS
    touch-action: manipulation;
}
input,
p,
li {
    // whitelisting inputs, so that they may be selected by iOS (otherwise, link copy is a bit weird without
    // having selected the text first)
    @extend .clear-no-ios-long-press;
}

#main-component {
    font-family: $frutiger;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $coal;
}

#map-view {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

:focus {
    outline-style: none;
    .outlines & {
        outline-offset: 0;
        outline: $focus-outline;
    }
}

.cursor-grab {
    cursor: grab;
}
.cursor-grabbing {
    cursor: grabbing;
}
.cursor-pointer {
    cursor: pointer;
}
