// Importing Tippy globally, so that we do not need to import it in each component using it
@import 'tippy.js/dist/tippy.css';
@import 'tippy.js/themes/light-border.css';

// Tippy custom style, with a danger red background color
.tippy-box[data-theme~='danger'] {
    $bgColor: $danger;
    background-color: $bgColor;
    color: $white;
    &[data-placement^='top'] > .tippy-arrow::before {
        border-top-color: $bgColor;
    }
    &[data-placement^='bottom'] > .tippy-arrow::before {
        border-bottom-color: $bgColor;
    }
    &[data-placement^='left'] > .tippy-arrow::before {
        border-left-color: $bgColor;
    }
    &[data-placement^='right'] > .tippy-arrow::before {
        border-right-color: $bgColor;
    }
}

// Tippy custom style, with a primary red background color
.tippy-box[data-theme~='primary'] {
    $bgColor: $primary;
    background-color: $bgColor;
    color: $white;
    &[data-placement^='top'] > .tippy-arrow::before {
        border-top-color: $bgColor;
    }
    &[data-placement^='bottom'] > .tippy-arrow::before {
        border-bottom-color: $bgColor;
    }
    &[data-placement^='left'] > .tippy-arrow::before {
        border-left-color: $bgColor;
    }
    &[data-placement^='right'] > .tippy-arrow::before {
        border-right-color: $bgColor;
    }
}

.tippy-box[data-theme~='popover-button'] {
    border-radius: 0.375rem;
    .tippy-content {
        padding: 0;
    }
}
