
$zindex-map: 1;
$zindex-toolbox: $zindex-map + 1;
$zindex-copyrights: $zindex-toolbox + 1;
$zindex-swipable-element: $zindex-copyrights + 1;
$zindex-footer: $zindex-swipable-element + 1;
$zindex-overlay-default: 200;
$zindex-menu: $zindex-overlay-default + 1;
$zindex-overlay-front: 300;
$zindex-modal: $zindex-overlay-front + 1;

$header-height: 3rem;
$footer-height: 1.5rem;

$screen-padding-for-ui-elements: 0.5rem;

$map-button-diameter: 40px;
