/* Z Indices are not an absolute value. Different css attributes (most importantly the z-index
attribute) can trigger the generation of a new stacking context. An element cannot break out of its
stacking context, independently of the value of its z-index. Inatall an extension like
"https://github.com/andreadev-it/stacking-contexts-inspector" to see the stacking contexts in the
browser dev tools. */

// Main stacking context
$zindex-map: 1;
/* compare slider should be above the map, and below anything else
*/
$zindex-compare-slider: $zindex-map + 1;
$zindex-footer: $zindex-compare-slider + 1; // The menu should be displayed above the footer in phone mode
$zindex-warning: 1;
$zindex-menu: $zindex-footer + 1;
$zindex-map-toolbox: $zindex-footer;
$zindex-map-popover: $zindex-menu + 1;
//Is part of the footer, but should be displayed above other menu items if in desktop mode
//In phone mode, it makes more sense for the menu to be above.
$zindex-desktop-footer-infobox: $zindex-menu + 1;
$zindex-swipable-element: $zindex-menu + 1; //Not used for the moment, please check the value before using it.

// Modules teleported to the main stacking context (so that they can be on top of all other elements)
$zindex-modal: 100;
$zindex-loading-screen: 101;

// Menu stacking context
$zindex-menu-tray: $zindex-menu; // one step behind the header so that it can slip behind when closed, but above the toolbox buttons
$zindex-menu-header: $zindex-menu + 1;
$zindex-map-popover: $zindex-menu-header + 1;
/* in order to have the header slip behind the drawing toolbox when the hiding animation
occurs (teleported in the menu context)*/
$zindex-drawing-toolbox: 3;

$header-height: 46px;
$dev-disclaimer-height: 24px;
$footer-height: 30px;
$overlay-width: 340px;
$menu-tray-width: 24rem;
$drawing-tools-height-mobile: 121px;
$time-slider-bar-height: 102px;
$time-slider-dropdown-height: 62px;

$screen-padding-for-ui-elements: 0.5rem;

$map-button-diameter: 40px;
$map-button-inner-icon-diameter: 26px;
$map-button-border-width: calc(($map-button-diameter - $map-button-inner-icon-diameter) / 2);

// Space between adjacent buttons
$button-spacer: 0.5rem;


:export {
  headerHeight: $header-height;
  devDisclaimerHeight: $dev-disclaimer-height;
  timeSliderBarHeight: $time-slider-bar-height;
  timeSliderDropdownHeight: $time-slider-dropdown-height;
  footerHeight: $footer-height;
  overlayWidth: $overlay-width;
  drawingMobileToolbarHeight: $drawing-tools-height-mobile;
}
