
/* Z Indices are not an absolute value. Different css attributes (most importantly the z-index
attribute) can trigger the generation of a new stacking context. An element cannot break out of its
stacking context, independently of the value of its z-index. Inatall an extension like
"https://github.com/andreadev-it/stacking-contexts-inspector" to see the stacking contexts in the
browser dev tools. */

// Main stacking context
$zindex-map: 1;
$zindex-footer: $zindex-map + 1; // The menu should be displayed above the footer in phone mode
$zindex-menu: $zindex-footer + 1;
$zindex-footer-infobox: $zindex-menu + 1; //Is part of the footer, but should be displayed above other menu items
$zindex-swipable-element: $zindex-menu + 1; //Not used for the moment, please check the value before using it.

// Modules teleported to the main stacking context (so that they can be on top of all other elements)
$zindex-modal: 100;
$zindex-loading-screen: 101;

// Menu stacking context
$zindex-menu-tray: 1; // one step behind the header so that it can slip behind when closed, but above the toolbox buttons
$zindex-menu-header: 2;
/* in order to have the header slip behind the drawing toolbox when the hiding animation
occurs (teleported in the menu context)*/
$zindex-drawing-toolbox: 3;

$header-height: 3rem;
$footer-height: 1.5rem;
$overlay-width: 360px;
$menu-tray-width: 24rem;

$screen-padding-for-ui-elements: 0.5rem;

$map-button-diameter: 40px;
$map-button-inner-icon-diameter: 26px;
$map-button-border-width: calc(($map-button-diameter - $map-button-inner-icon-diameter) / 2);

// Drawing variables
$drawing-options-button-margin: 3px;
